body {
  background-color: #8eadaf;
}
.install-container {
  padding: 20px;
  -webkit-transition: margin-top 0.4s;
  -moz-transition: margin-top 0.4s;
  -o-transition: margin-top 0.4s;
  transition: margin-top 0.4s;
}
.install-container.off {
  margin-top: -500px;
}
#pic-cat {
  -webkit-transition: margin-top 4s;
  -moz-transition: margin-top 4s;
  -o-transition: margin-top 4s;
  transition: margin-top 4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 100;
}
#pic-cat.in {
  margin-top: -100px;
}
@media (min-width: 480px) {
  .install-container {
    width: 440px;
    margin: 60px auto;
  }
}
.panel-theme {
  border-color: #3bb0c6;
}
.panel-theme .panel-heading {
  border-color: #3bb0c6;
  background-color: #3bb0c6;
}
.panel-theme .panel-heading .panel-title {
  color: #fff;
}
#alert-container {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}
#alert-container .alert {
  margin-bottom: 0px;
}
